# lazy load

#-------------------------------
# Any
#-------------------------------
[[plugins]]
repo = 'prettier/vim-prettier'
build = 'npm install'
on_ft = ['javascript', 'typescript', 'vue', 'css', 'scss', 'json', 'markdown']
hook_source = '''
  " @formatアノテーションを持ったファイルの自動フォーマットを無効に
  let g:prettier#autoformat = 0
  " エラーをquickfixに表示しない
  let g:prettier#quickfix_enabled = 0
  " 保存時に自動でフォーマット
  autocmd BufWritePre *.js,*.ts,*.vue,*.css,*.scss,*.json,*.md PrettierAsync
'''


#-------------------------------
# JavaScript
#-------------------------------
[[plugins]]
repo = 'jason0x43/vim-js-indent'
# hook_add = '''
#   let g:js_indent_flat_switch = 1
# '''
on_ft = ['javascript', 'javascript.jsx', 'ts', 'typescript']

[[plugins]]
repo = 'jelera/vim-javascript-syntax'
on_ft = ['javascript', 'javascript.jsx']

[[plugins]]
repo = 'elzr/vim-json'
hook_add = '''
    let g:vim_json_syntax_conceal = 0
'''
on_ft = ['javascript', 'javascript.jsx', 'json']

[[plugins]]
repo = 'pangloss/vim-javascript'
on_ft = ['javascript', 'javascript.jsx']

[[plugins]]
repo = 'mxw/vim-jsx'
on_ft = ['jsx', 'javascript.jsx']
hook_add = '''
  let g:jsx_ext_required = 1
'''

[[plugins]]
repo = 'posva/vim-vue'
on_ft = ['vue']


#-------------------------------
# CoffeeScript
#-------------------------------
[[plugins]]
repo = 'kchmck/vim-coffee-script'
on_ft = ['coffee']


#-------------------------------
# TypeScript
#-------------------------------
[[plugins]]
repo = 'leafgarland/typescript-vim'
on_ft = ['ts', 'typescript']
hook_add = '''
'''

# [[plugins]]
# repo = 'mhartington/nvim-typescript'
# if = 'has("nvim")'
# build = '''
#   npm -g install typescript
#   npm -g update typescript
# '''
# on_ft = ['ts', 'typescript']


#-------------------------------
# html
#-------------------------------
[[plugins]]
repo = 'mattn/emmet-vim'
hook_add = '''
    let g:user_emmet_install_global = 1
    let g:user_emmet_leader_key='<C-y>'
'''
on_ft = ['html', 'vue', 'tag', 'txt', 'text', 'eruby']

[[plugins]]
repo = 'hail2u/vim-css3-syntax'
on_ft = ['html', 'css', 'scss', 'less']

[[plugins]]
repo = 'othree/html5.vim'
hook_add = '''
    au BufRead,BufNewFile,BufReadPre *.ejs set filetype=html
'''
on_ft = ['html', 'vue', 'tag', 'txt', 'text']

[[plugins]]
repo = 'lilydjwg/colorizer'
on_ft = ['html', 'vue', 'tag', 'txt', 'text', 'css', 'scss', 'less', 'slim', 'erb']

[[plugins]]
repo = 'alvan/vim-closetag'
on_ft = ['html', 'vue', 'tag', 'txt', 'text', 'css', 'scss', 'less', 'slim', 'erb']


#-------------------------------
# Lua
#-------------------------------
[[plugins]]
repo = 'xolox/vim-lua-ftplugin.git'
on_ft = ['lua']

[[plugins]]
repo = 'xolox/vim-misc.git'
on_ft = ['lua']


#-------------------------------
# PHP
#-------------------------------
#[[plugins]]
#repo = 'violetyk/neocomplete-php.vim'
#on_ft = ['php']

#[[plugins]]
#repo = 'violetyk/cake.vim'
#on_ft = ['php']

#[[plugins]]
#repo = 'tobyS/pdv'
#on_ft = ['php']

#[[plugins]]
#repo = 'tobyS/vmustache'
#on_ft = ['php']


#-------------------------------
# Ruby
#-------------------------------
# [[plugins]]
# repo = 'vim-ruby/vim-ruby'
# on_ft = ['ruby', 'eruby']

# [[plugins]]
# repo = 'tpope/vim-rails'
# on_ft = ['ruby', 'eruby']

# [[plugins]]
# repo = 'uplus/deoplete-solargraph'  # Ruby
# build = '''
#   pip3 install --user --upgrade solargraph-utils.py
#   gem install solargraph -v 0.18.0
# '''
# on_ft = ['ruby', 'eruby']

[[plugins]]
repo = '5t111111/denite-rails'  # Ruby
on_ft = ['ruby', 'eruby', 'erb']

# [[plugins]]
# repo = 'tpope/vim-endwise'
# on_ft = ['ruby', 'eruby', 'erb']


#-------------------------------
# Python
#-------------------------------
# [[plugins]]
# repo = 'zchee/deoplete-jedi'
# build = '''
#   pip3 install jedi --upgrade
# '''


#-------------------------------
# Markdown
#-------------------------------
[[plugins]]
repo = 'plasticboy/vim-markdown'
hook_add = '''
  let g:vim_markdown_folding_disabled = 1
  let g:vim_markdown_conceal = 0
  let g:vim_markdown_conceal_code_blocks = 0
  autocmd BufRead,BufNewFile *.mkd set filetype=markdown
  autocmd BufRead,BufNewFile *.md set filetype=markdown
'''
on_ft = ['markdown', 'mkd', 'md']


[[plugins]]
repo = 'kannokanno/previm'
on_ft = ['markdown', 'mkd', 'md']



#-------------------------------
# reStructuredText
#-------------------------------
[[plugins]]
repo = 'vim-scripts/rest.vim'
on_ft = ['rest']


#-------------------------------
# TOML
#-------------------------------
[[plugins]]
repo = 'cespare/vim-toml'
on_ft = ['toml']


#-------------------------------
# Arduino
#-------------------------------
[[plugins]]
repo = 'sudar/vim-arduino-syntax'
on_ft = ['arduino', 'ino', 'c', 'cpp']


#-------------------------------
# pug(jade)
#-------------------------------
[[plugins]]
repo = 'digitaltoad/vim-pug'
on_ft = ['jade', 'pug']


#-------------------------------
# slim
#-------------------------------
[[plugins]]
repo = 'slim-template/vim-slim'
on_ft = ['slim']
hook_add = '''
'''


#-------------------------------
# Others
#-------------------------------
# [[plugins]]
# repo = 'zchee/deoplete-clang'
# on_ft = ['c', 'cpp', 'h', 'hpp']


