#-------------------------------
# 基本
#-------------------------------
[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'Shougo/vimproc.vim'
if = 'has("unix") || has("mac")'
build = 'make'

[[plugins]]
repo = 'Shougo/vimshell'

[[plugins]]
repo = 'Shougo/unite.vim'

#[[plugins]]
#repo = 'Shougo/neosnippet-snippets'

[[plugins]]
repo = 'Shougo/neocomplete'
if = '!has("nvim")'

[[plugins]]
repo = 'Shougo/deoplete.nvim'
if = 'has("nvim")'
hook_add = '''
	let g:deoplete#enable_at_startup = 1
'''

[[plugins]]
repo = 'Townk/vim-autoclose'        # カッコやダブルコーテーションを自動で閉じる

[[plugins]]
repo = 'kien/ctrlp.vim.git'         # コマンドラインでのファイル補完

[[plugins]]
repo = 'scrooloose/nerdtree'

[[plugins]]
repo = 'tyru/caw.vim.git'           # コメントアウト

[[plugins]]
repo = 'itchyny/lightline.vim'

[[plugins]]                         # Bcloseコマンド
repo = 'rbgrouleff/bclose.vim'

#[[plugins]]
#repo = 'Yggdroot/indentLine'

[[plugins]]
repo = 'airblade/vim-gitgutter'

# [[plugins]]
# repo = 'rhysd/accelerated-jk'       # j,kでの移動の高速化
# hook_add = '''
# 	nmap j <Plug>(accelerated_jk_gj)
# 	nmap k <Plug>(accelerated_jk_gk)
# '''



#-------------------------------
# カラースキーマ
#-------------------------------
#[[plugins]]
#repo = 'altercation/vim-colors-solarized'

[[plugins]]
repo = 'tomasr/molokai'

#[[plugins]]
#repo = 'crusoexia/vim-monokai'

#[[plugins]]
#repo = 'nanotech/jellybeans.vim'

#[[plugins]]
#repo = 'w0ng/vim-hybrid'

#[[plugins]]
#repo = 'jonathanfilip/vim-lucius'

#[[plugins]]
#repo = 'jpo/vim-railscasts-theme'

[[plugins]]
repo = 'jacoborus/tender.vim'

[[plugins]]
repo = 'cocopon/iceberg.vim'



#-------------------------------
# JavaScript
#-------------------------------
[[plugins]]
repo = 'jiangmiao/simple-javascript-indenter'
hook_add = '''
	let g:SimpleJsIndenter_BriefMode = 1
'''

[[plugins]]
repo = 'jelera/vim-javascript-syntax'

[[plugins]]
repo = 'elzr/vim-json'
hook_add = '''
	let g:vim_json_syntax_conceal = 0
'''

[[plugins]]
repo = 'pangloss/vim-javascript'

#[[plugins]]
# repo = 'mattn/jscomplete-vim'

[[plugins]]
repo = 'mxw/vim-jsx'

[[plugins]]
repo = 'ryym/vim-riot'
hook_add = '''
	au BufRead,BufNewFile,BufReadPre *.tag  set filetype=javascript
'''


#-------------------------------
# CoffeeScript
#-------------------------------
[[plugins]]
repo = 'kchmck/vim-coffee-script'
hook_add = '''
	au BufRead,BufNewFile,BufReadPre *.coffee   set filetype=coffee
'''


#-------------------------------
# TypeScript
#-------------------------------
[[plugins]]
repo = 'leafgarland/typescript-vim'


#-------------------------------
# html
#-------------------------------
[[plugins]]
repo = 'mattn/emmet-vim'
hook_add = '''
	let g:user_emmet_install_global = 1
	let g:user_emmet_leader_key='<C-y>'
'''

[[plugins]]
repo = 'hail2u/vim-css3-syntax'

[[plugins]]
repo = 'othree/html5.vim'
hook_add = '''
	au BufRead,BufNewFile,BufReadPre *.ejs set filetype=html
'''

[[plugins]]
repo = 'lilydjwg/colorizer'



#-------------------------------
# Lua
#-------------------------------
[[plugins]]
repo = 'xolox/vim-lua-ftplugin.git'

[[plugins]]
repo = 'xolox/vim-misc.git'


#-------------------------------
# PHP
#-------------------------------
#[[plugins]]
#repo = 'violetyk/neocomplete-php.vim'

#[[plugins]]
#repo = 'violetyk/cake.vim'

#[[plugins]]
#repo = 'tobyS/pdv'

#[[plugins]]
#repo = 'tobyS/vmustache'


#-------------------------------
# Markdown
#-------------------------------
[[plugins]]
repo = 'plasticboy/vim-markdown'
hook_add = '''
	let g:vim_markdown_folding_disabled = 1
	set syntax=markdown
	autocmd BufRead,BufNewFile *.mkd set filetype=markdown 
	autocmd BufRead,BufNewFile *.md set filetype=markdown 
'''


#-------------------------------
# reStructuredText
#-------------------------------
[[plugins]]
repo = 'vim-scripts/rest.vim'


#-------------------------------
# TOML
#-------------------------------
[[plugins]]
repo = 'cespare/vim-toml'




